<!DOCTYPE html>
<html lang="en">
<%- include("./head.ejs") %>
<body style="background-color: teal;"color: "coral";">
    <form action="/budgets" method="post"> 
    Date:    <input name="date" type="text"> 
    Name:    <input name="name"type="text"> 
    From:    <input name="from" type="text"> 
    Amount:  <input name="amount" type="text"> 
    Tags:    <input name="tags" type="text"> 
    <input type="submit" value="New Entry">
    </form>
    <a href="/budgets">Cancel</a>
</body>
</html>



<h1 style="color:blue;text-align:center;"></h1>